# ANDROID-SDK DIR
build-tools/
docs/
emulator/
extras/
licenses/
platforms/
platform-tools/
tools/
samples/
skins/
sources/

# APK / ABB
*.apk
*.abb

# JAR
*.jar

# JSON / XML
*.xml
*.json

# SCREENSHOTS
*.jpg
*.jpeg
*.png

# SCREENRECORDS
*.mp4

# TEMP
TEMP/
temp.*

# OTHERS
apps/
ant/
arc/