# ANDROID-SDK FILES & DIRECTORIES
.knownPackages
build-tools/
cmdline-tools/
cmake/
docs/
emulator/
extras/
licenses/
lldb/
ndk-bundle/
ndk/
patcher/
platforms/
platform-tools/
tools/
samples/
skins/
sources/
system-images/
SDK Readme.txt

# APK / ABB
*.apk
*.abb

# JAR
*.jar

# JSON / XML
*.xml
*.json

# SCREENSHOTS
*.jpg
*.jpeg
*.png

# SCREENRECORDS
*.mp4

# ARCHIVE
*.zip
*.tar

# BACKUPS
*.ab
*.back

# TEMP
TEMP/
temp.*
*~
*output*
*.out

# OTHERS
apps/
ant/
arc/